{
    "CN": "$SELF_CN",
    "hosts": [
        "$SELF_CN",
        "*.$SELF_CN"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "Shenzhen",
            "ST": "Guangdong",
            "O": "Gitee",
            "OU": "Autom"
        }
    ]
}
