{
    "CN": "SELF_CN",
    "hosts": [
        "SELF_CN",
        "*.SELF_CN"
    ],
    "key": {
        "algo": "rsa",
        "size": 4096
    },
    "names": [
        {
            "C": "CN",
            "ST": "Guangdong",
            "L": "Shenzhen",
            "O": "AtomPi",
            "OU": "AtomPi"
        }
    ]
}
